.dataList table {
    margin:0px 0 !important;
    -moz-border-radiusx:12px;
    -webkit-border-radiusx:12px;
    -moz-box-shadowx: 0 0 10px #ccc;
    -webkit-box-shadowx: 0 0 10px #ccc;
    width:100%;
    font-family:'PT Sans',Arial; 
    font-size:13px; 
    line-height:16px;
}
.dataList th {
    -moz-box-shadow: inset 0 0 2px white;
    -webkit-box-shadow: inset 0 0 2px white;
}
.dataList td {
    padding:2px 4px !important;
    text-align:left;
    vertical-align:top;
    max-width: 800px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.dataList thead tr {
    background-color:#DFDFDF;
    height: 26px;
}
.dataList th {
   padding:2px 4px !important;
   text-align:center;
   vertical-align:middle;
   font-size: 13px;
}
.dataList th.sorted {
    background-color:#5A8EC0;
}
.dataList th a, th a:visited {
    color:black;
}
.dataList th a:hover {
    color:black;
    text-decoration:underline;
}
.dataList th.sorted a, th.sortable a {
    background-position:right center;
    background-repeat:no-repeat;
    display:block;
    width:100%;
}
.dataList th.sorted a {
    color:white;
}
.dataList th.sortable a {
    background-image:url("../images/v3/arrow_off.png");
}
.dataList th.order1 a {
    background-image:url("../images/v3/arrow_down.png");
}
.dataList th.order2 a {
    background-image:url("../images/v3/arrow_up.png");
}
.dataList tr.odd {
    background-color:#FFFFFF;
}
.dataList tr.tableRowEven, tr.even {
    background-color:#F9F9F9;
}
.dataList div.exportlinks {
    background-color:#EEEEEE;
    border:1px dotted #999999;
    margin:2px 0 10px;
    padding:2px 4px;
    text-align:right;
}
.dataList div.exportlinks a {
    text-decoration: none
}
.dataList span.export {
    cursor:pointer;
    display:inline-block;
    padding:0 4px 1px 20px;
}
.dataList span.excel {
    background:url("../images/v3/doc_excel.png") no-repeat;
}
.dataList span.csv {
    background:url("../images/v3/doc_csv.png") no-repeat;
}
.dataList span.xml {
    background:url("../images/v3/doc_xml.png") no-repeat;
}
.dataList span.pdf {
    background:url("../images/v3/doc_pdf.png") no-repeat;
}
.dataList span.rtf {
    background:url("../images/v3/doc_rtf.png") no-repeat;
}
.dataList span.pagebanner {
    border-color:#999999 #999999 -moz-use-text-color;
    border-width:1px 1px medium;
    display:block;
    margin-top:0px;
    padding:2px 4px;
    text-align:right;
    font-size:smaller;
}
.dataList span.pagelinks {
    border-color:-moz-use-text-color #999999 #999999;
    border-width:medium 1px 1px;
    display:block;
    margin-bottom:0px;
    padding:2px 4px;
    text-align:right;
    font-size:smaller;
}
.dataList .group-1 {
    border-top:1px solid black;
    font-weight:bold;
    padding-bottom:10px;
}
.dataList .group-2 {
    border-top:1px solid black;
    font-style:italic;
}
.dataList .subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.dataList .subtotal-header {
    border-top:1px solid white;
    padding-bottom:0;
}
.dataList .subtotal-label, .grandtotal-label {
    border-top:1px solid white;
    font-weight:bold;
}
.dataList .grouped-table tr.even {
    background-color:#FFFFFF;
}
.dataList .grouped-table tr.odd {
    background-color:#FFFFFF;
}
.dataList .grandtotal-row {
    border-top:2px solid black;
}
.dataList .clearBoth{
    clear:both;
    height: 2px;
}
.dataList .filters {
    margin-bottom: 2px;
}

.dataList .filter-cell.hidden-filter {
    display:none;
}

.dataList .actions.right{
    text-align:right;
}

.dataList .actions.left{
    text-align:left;
}

.dataList .actions.top{
    margin-bottom:15px;
}

.dataList .actions.bottom{
    margin-top:15px;
}

.dataList .column-hidden {
    display: none;
}

.dataList .datalist-error {
    font-weight: bold;
    color: #F00;
}

.pagelinks .pc{
    display:inline-block;
    width:20px;
    height:20px;
    padding: 0 2px;
}

.pagelinks .pc.first{
    background:url("../images/v3/ic_first.png") no-repeat;
}

.pagelinks .pc.prev{
    background:url("../images/v3/ic_previous.png") no-repeat;
}

.pagelinks .pc.next{
    background:url("../images/v3/ic_next.png") no-repeat;
}

.pagelinks .pc.last{
    background:url("../images/v3/ic_last.png") no-repeat;
}

.pagelinks .pc.first-disabled{
    background:url("../images/v3/ic_first_dis.png") no-repeat;
}

.pagelinks .pc.prev-disabled{
    background:url("../images/v3/ic_previous_dis.png") no-repeat;
}

.pagelinks .pc.next-disabled{
    background:url("../images/v3/ic_next_dis.png") no-repeat;
}

.pagelinks .pc.last-disabled{
    background:url("../images/v3/ic_last_dis.png") no-repeat;
}

#preview-label {
    box-sizing: initial;
    position: fixed;
    top: 75px;
    right: -225px;
    width: 230px;
    padding: 10px 210px;
    line-height: 26px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'trebuchet ms', verdana, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    z-index: 3000;
    opacity: 0.5;
    -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg);  /* Saf3.1+ */
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}
#preview-label.ie {
    top: -60px;
    right: -150px;
    width: 400px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
    zoom: 1;
}
#preview-label.testing {
    background-color: red;
    opacity: 1;
}
#preview-label.testing a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -15px;
}
